body {
    background: url("../../assets/images/yellow-gradient-orange-.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-collapse {
    padding-left: 20px;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: .25rem;
}

h2 {
    background: url("../../assets/images/purple.jpg") no-repeat center center fixed;
    margin-left: 25%;
    margin-bottom: 0;
    border-radius: .25rem;
    width: 50%;
    color: #ffffff;
}

.media-container {
    padding: 20px;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
}

.song-name {
    background: url("../../assets/images/purple.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 50%;
    height: 400px;
    margin-left: 25%;
    border-radius: .30rem;
    margin-top: 10%;
    padding: 15px;
}

@media only screen and (max-width: 710px) {
    .media-container, h2, .song-name {
        width: 100%;
        margin-left: 0;
    }
}
